{% extends 'base.html' %}

{% block content %}


{% if error %}
{{ error }}

<br/>
<br/>
{% endif %}

<h1>MENU</h1>

<form name="drink_search" method="post" action="{% url 'menu'%}">
    {% csrf_token %}
    <input type="text" name="search_term" />
    <input type="submit" value="Search" />
</form>

{% for drink in drinks %}
    <ul>
        <li style="display:inline">{{ drink.name }}</li>
        <li style="display:inline">${{ drink.price}}</li>
        <li style="display:inline">
            <form name="order_drink" method="post" action="{% url 'order'%}">
                {% csrf_token %}
                <input type="hidden" name="drink_id" value={{ drink.id }} />
                <input type="submit" value="Order" />
            </form>
        </li>
        <li style="display:inline">
            <form name="order_drink" method="post" action="{% url 'order'%}">
                {% csrf_token %}
                <input type="hidden" name="drink_id" value={{ drink.id }} />
                <input type="submit" value="Review" />
            </form>
        </li>
    </ul>
{% endfor %}
</form>


{% endblock %}