{% extends 'base.html' %}

{% block content %}


{% if error %}
{{ error }}

<br/>
<br/>
{% endif %}

<h1>Menu</h1>

<form name="drink_search" method="post" action="{% url 'menu'%}">
    {% csrf_token %}
    <input type="text" name="search_term" />
    <input type="submit" value="Search" />
</form>

{% for drink in drinks %}
    <ul>
        <li style="display:inline">{{ drink.name }}</li>
        <li style="display:inline">${{ drink.price}}</li>
        <li style="display:inline">
            <form name="order_drink" method="post" action="{% url 'order'%}">
                {% csrf_token %}
                <input type="hidden" name="drink_id" value={{ drink.id }} />
                <input type="submit" value="Order" />
            </form>
        </li>
        <li style="display:inline">
            <form name="add_to_cart" method="post" action="{% url 'addCartItem'%}">
                {% csrf_token %}
                <input type="hidden" name="drink_id" value={{ drink.id }} />
                {% if drink.added is None %}
                    <input type="submit" value="Add To Cart" />
                {% else %}
                    <input type="button" value="Added To Cart" disabled/>
                {% endif %}
            </form>
        </li>
        <li style="display:inline">
            <form name="remove_from_cart" method="post" action="{% url 'removeCartItemMenu'%}">
                {% csrf_token %}
                <input type="hidden" name="drink_id" value={{ drink.id }} />
                {% if drink.added is None %}
                    <input type="button" value="Remove From Cart" disabled/>
                {% else %}
                    <input type="submit" value="Remove From Cart" />
                {% endif %}
            </form>
        </li>
        <li style="display:inline">
             <form name="add-rev" method="post" action="{% url 'addReview'%}">
                  {% csrf_token %}
                 <input type="hidden" name="drink_id" value={{ drink.id }} />
                    <input type="submit" value="Review" />
            </form>
        </li>
    </ul>
{% endfor %}
<div> <a href="{% url 'viewCart' %}">Checkout</a></div>

{% endblock %}