{% extends 'base.html' %}

{% block content %}


{% if error %}
{{ error }}

<br/>
<br/>
{% endif %}

<h1>My Reviews</h1>

{% for s in reviews %}
    <ul>
        <div style="display: compact">
            <div>
      Drink Name :{{s.name}}
                </div>
             <div>
            Review : {{s.review}}
            </div>
        </div>
    </ul>
{% endfor %}
<input class ="btn btn-primary" onclick="location.href='{% url 'home' %}'" type="button" value= "back" />
</form>


{% endblock %}