{% extends 'base.html' %}

{% block content %}


{% if error %}
{{ error }}

<br/>
<br/>
{% endif %}

<h1>Status of all orders</h1>

{% for s in status %}
    <ul>
        <div style="display: compact">
        <li style="display:inline" >Order ID : {{ s.id }}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
        {% if s.order_status == 0 %}
        <li style="display:inline;color: cadetblue" > IN- PROGRESS</li>
        {% endif %}
        {% if s.order_status == 1 %}
        <li style="display:inline;color: green" >COMPLETED</li>
        {% endif %}
            {% if s.order_status == 2 %}
        <li style="display:inline;color: red" >CANCELED</li>
        {% endif %}
         <li style="display:inline">
            <form name="view_order" method="post" action="{% url 'viewOrder'%}">
                {% csrf_token %}
                <input type="hidden" name="order_id" value={{ s.id }} />
                <input type="submit" value="View Order" />
            </form>
        </li>

        </div>
    </ul>
{% endfor %}
<input class ="btn btn-primary" onclick="location.href='{% url 'home' %}'" type="button" value= "back" />
</form>


{% endblock %}
