{% extends 'base.html' %}

{% block content %}


{% if error %}
{{ error }}

<br/>
<br/>
{% endif %}

<h1>Change Status </h1>

{% for s in changeStatus %}
<ul>
    <div style="display: flex">
        <li>Order ID-{{s.id}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCURRENT
            STATUS:&nbsp&nbsp
        </li>
        {% if s.order_status == 0 %}
        <li style="display:inline;color: cadetblue"> IN- PROGRESS</li>
        {% endif %}
        {% if s.order_status == 1 %}
        <li style="display:inline;color: green">COMPLETED</li>
        {% endif %}
        {% if s.order_status == 2 %}
        <li style="display:inline;color: red">CANCELED</li>
        {% endif %}

        <form name="changeStat" method="post" action="{% url 'changeStat'%}">
            {% csrf_token %}
            &nbsp&nbsp Change Status to:
            <input type="hidden" name="order_id" value= {{ s.id }}/>
             <input type="submit" id={{ s.id }} name = "Completed" value="Completed" style="color: green"/>
            <input type="submit"  name = "Cancelled" value="Cancelled" style="color: red"/>
            <input type="submit" name = "In-Progress" value="In-Progress" style="color: cadetblue" />

<!--            <select name="opt" id="status_opt">-->
<!--                <option disabled selected value> &#45;&#45; select an option &#45;&#45;</option>-->
<!--                <option value="1">Completed</option>-->
<!--                <option value="0">In-Progress</option>-->
<!--                <option value="2">Cancelled</option>-->
<!--            </select>-->
        </form>
    </div>
</ul>
{% endfor %}
</form>


{% endblock %}