{% extends 'base.html' %}

{% block content %}


{% if error %}
{{ error }}

<br/>
<br/>
{% endif %}

<h1>Hello, {{ user.first_name|default:'Guest' }}</h1>

    <p> Welcome to the Our site</p>
    <div>
      {% if user.is_authenticated %}
         <div> <a href="{% url 'logout' %}">Logout</a></div>
         <div>  <a href="{% url 'menu' %}">Menu</a></div>
         <div> <a href="{% url 'status' %}">Order Status</a></div>
         <div> <a href="{% url 'viewCart' %}">View Cart</a></div>
    
      {% else %}
          <a href="{% url 'signup' %}">Sign Up</a>
          <a href="{% url 'login' %}">Login</a>
      {% endif %}
    </div>


{% endblock %}